@import "./config";

@font-face {
    font-family: 'logo-font';
    src: url("../Fonts/SunnySpellsBasicRegular-Yz1Wv.ttf");
}

body {
    background-color: $third-color;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 20px;
        background-color: $main-color;
        color: white;
        gap: 12px;
        z-index: 2;
        font-size: calc(1.8vw + 1.8vh);
        font-family: logo-font;
    }

    .footer {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
    
        .text {
          color: black;
          font-size: calc(0.8vw + 0.8vh);
          font-weight: 200;
    
          @media (max-width: 333px) {
            font-size: 15px;
          }
    
          a {
            img {
              height: calc(0.9vw + 0.9vh);
              margin-bottom: 5px;
              margin-left: 8px;
              width: auto;
            }
    
            img:hover {
              transform: scale(1.2);
            }
          }
        }
      }

    @media screen and (orientation:portrait) {
        .header {
            justify-content: center;
            font-size: xx-large;
            gap: 6px;
        }
    }
}