@import "./config";

@font-face {
    font-family: 'logo-font';
    src: url("../Fonts/SunnySpellsBasicRegular-Yz1Wv.ttf");
}

body {
    background-color: $third-color;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    button, input[type="submit"], input[type="reset"] {
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
  }

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 20px;
        background-color: $main-color;
        color: white;
        gap: 12px;
        z-index: 2;
        font-size: calc(1.8vw + 1.8vh);
        font-family: logo-font;

        .showMore {
          position: absolute;
          right: 0.4rem;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 25px;
            height: auto;
          }
        }

        .showMore:hover,
        .active {
          background-color: #0c2021;
          border-radius: 8px;
        }

        .showMore.hideLandscape {
          display: none;
        }
    }

    .main {
        min-width: 100vw;
        min-height: calc(100vh - (124px + 5vh));
        display: flex;

        .navBar {
            width: 16vw;
            min-height: calc(100vh - (124px + 5vh));
            background-color: #99aa92;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 48px 16px;
            z-index: 1;

            .item {
              display: flex;
              align-items: center;
              gap: 16px;
            }

            img {
              width: calc(1.1vw + 1.1vh);
              height: auto;
            }
          
            .tasks,
            .projects {
              display: flex;
              flex-direction: column;
              
              .tasksUpper,
              .projectsUpper {
                font-weight: 500;
                margin-bottom: 14px;
                font-size: calc(0.8vw + 0.8vh);
              }

              .tasksLower,
              .projectsLower {
                display: flex;
                flex-direction: column;
                font-weight: 300;
                font-size: calc(0.7 * (1vw + 1vh));

                .item {
                  padding: 8px 16px;
                }

                .item:hover {
                  background-color: #71816a;
                  border-radius: 8px;
                }
              }
          }
        }

        .content {
          width: 84vw;
          height: calc(100vh - (124px + 5vh)); 
          z-index: -2;
        }
    }

    .footer {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        background-color: $main-color;
        z-index: 2;
    
        .text {
          color: white;
          font-size: calc(0.8vw + 0.8vh);
          font-weight: 200;
    
          @media (max-width: 333px) {
            font-size: 15px;
          }
    
          a {
            img {
              height: calc(0.9vw + 0.9vh);
              margin-bottom: 5px;
              margin-left: 8px;
              width: auto;
            }
    
            img:hover {
              transform: scale(1.2);
            }
          }
        }
    }

    .bgForm.visible {
      position: fixed;
      z-index: 2;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
  }

  .form {
      position: fixed;
      left: 50%;
      top: 50%;
      z-index: 3;
      max-width: 300px;
      min-width: 150px;
      max-height: 400px;
      min-height: 200px;
      background-color: rgb(76, 89, 81);
      text-align: center;
      padding: 15px;
      color: white;
      border-radius: 8px;
      transform: translate(-50%, -50%) scale(0);
      transition: 0.2s ease-in-out;
      

      form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: stretch;
      }

      .title {
          font-weight: 700;
      }

      #name:focus {
        box-shadow: 0 0 0 0.25rem rgba(13, 253, 113, 0.25);
        border-color: rgba(13, 253, 113, 0.25);
      }

      .form-check {
          position: relative;
          .form-check-input {
              position: absolute;
          }
      }

      .btn {
          width: 100%;
          background-color: rgb(23, 107, 30);
          border-color: rgb(23, 107, 30);
      }
  }

  .form.visible {
      transform: translate(-50%, -50%) scale(1);
  }

    @media screen and (orientation:portrait) {
      
      .header {
          justify-content: center;
          font-size: xx-large;
          gap: 6px;

          .showMore.hideLandscape {
            display: flex;
          }
      }

      .main {
        flex-direction: column;
          .navBar {
              width: 100%;
              min-height: 10rem;
              flex-direction: row;
              gap: 26px;
              justify-content: space-evenly;
              transform: translateY(-1500px);
              transition: transform .3s ease;
          }

          .navBar.show {
            transform: translateY(0);
          }

          .content {
            width: 100vw;
          }
      }
    }
}