@import "./config";

@font-face {
    font-family: 'logo-font';
    src: url("../Fonts/SunnySpellsBasicRegular-Yz1Wv.ttf");
}

body {
    background-color: $third-color;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .hide {
      display: none;
    }

    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 20px;
        background-color: $main-color;
        color: white;
        gap: 12px;
        z-index: 2;
        font-size: calc(1.8vw + 1.8vh);
        font-family: logo-font;
    }

    .main {
        min-width: 100vw;
        min-height: calc(100vh - (124px + 5vh));

        .navBar {
            width: 16vw;
            min-height: calc(100vh - (124px + 5vh));
            background-color: #99aa92;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 48px 16px;

            .item {
              display: flex;
              align-items: center;
              gap: 16px;
            }

            img {
              width: calc(1.1vw + 1.1vh);
              height: auto;
            }
          
            .tasks,
            .projects {
              display: flex;
              flex-direction: column;
              
              .tasksUpper,
              .projectsUpper {
                font-weight: 500;
                margin-bottom: 14px;
                font-size: calc(0.8vw + 0.8vh);
              }

              .tasksLower,
              .projectsLower {
                display: flex;
                flex-direction: column;
                font-weight: 300;
                font-size: calc(0.7 * (1vw + 1vh));

                .item {
                  padding: 8px 16px;
                }

                .item:hover {
                  background-color: #71816a;
                  border-radius: 8px;
                }
              }
          }
        }
    }

    .footer {
        width: 100vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        background-color: $main-color;
        z-index: 2;
    
        .text {
          color: white;
          font-size: calc(0.8vw + 0.8vh);
          font-weight: 200;
    
          @media (max-width: 333px) {
            font-size: 15px;
          }
    
          a {
            img {
              height: calc(0.9vw + 0.9vh);
              margin-bottom: 5px;
              margin-left: 8px;
              width: auto;
            }
    
            img:hover {
              transform: scale(1.2);
            }
          }
        }
      }

    @media screen and (orientation:portrait) {
        .header {
            justify-content: center;
            font-size: xx-large;
            gap: 6px;
        }

        .main {
            .navBar {
                width: 100%;
                min-height: 10rem;
                flex-direction: row;
                gap: 26px;
                justify-content: space-evenly;
            }
        }
    }
}