@font-face {
  font-family: "logo-font";
  src: url("../Fonts/SunnySpellsBasicRegular-Yz1Wv.ttf");
}
body {
  background-color: #c9d9c2;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body button, body input[type=submit], body input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
body .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  background-color: #1b494b;
  color: white;
  gap: 12px;
  z-index: 2;
  font-size: calc(1.8vw + 1.8vh);
  font-family: logo-font;
}
body .header .showMore {
  position: absolute;
  right: 0.4rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .header .showMore img {
  width: 25px;
  height: auto;
}
body .header .showMore:hover,
body .header .active {
  background-color: #0c2021;
  border-radius: 8px;
}
body .header .showMore.hideLandscape {
  display: none;
}
body .main {
  min-width: 100vw;
  min-height: calc(100vh - (124px + 5vh));
}
body .main .navBar {
  width: 16vw;
  min-height: calc(100vh - (124px + 5vh));
  background-color: #99aa92;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 16px;
}
body .main .navBar .item {
  display: flex;
  align-items: center;
  gap: 16px;
}
body .main .navBar img {
  width: calc(1.1vw + 1.1vh);
  height: auto;
}
body .main .navBar .tasks,
body .main .navBar .projects {
  display: flex;
  flex-direction: column;
}
body .main .navBar .tasks .tasksUpper,
body .main .navBar .tasks .projectsUpper,
body .main .navBar .projects .tasksUpper,
body .main .navBar .projects .projectsUpper {
  font-weight: 500;
  margin-bottom: 14px;
  font-size: calc(0.8vw + 0.8vh);
}
body .main .navBar .tasks .tasksLower,
body .main .navBar .tasks .projectsLower,
body .main .navBar .projects .tasksLower,
body .main .navBar .projects .projectsLower {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: calc(0.7 * (1vw + 1vh));
}
body .main .navBar .tasks .tasksLower .item,
body .main .navBar .tasks .projectsLower .item,
body .main .navBar .projects .tasksLower .item,
body .main .navBar .projects .projectsLower .item {
  padding: 8px 16px;
}
body .main .navBar .tasks .tasksLower .item:hover,
body .main .navBar .tasks .projectsLower .item:hover,
body .main .navBar .projects .tasksLower .item:hover,
body .main .navBar .projects .projectsLower .item:hover {
  background-color: #71816a;
  border-radius: 8px;
}
body .footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: #1b494b;
  z-index: 2;
}
body .footer .text {
  color: white;
  font-size: calc(0.8vw + 0.8vh);
  font-weight: 200;
}
@media (max-width: 333px) {
  body .footer .text {
    font-size: 15px;
  }
}
body .footer .text a img {
  height: calc(0.9vw + 0.9vh);
  margin-bottom: 5px;
  margin-left: 8px;
  width: auto;
}
body .footer .text a img:hover {
  transform: scale(1.2);
}
body .bgForm.visible {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
body .form {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 3;
  max-width: 300px;
  min-width: 150px;
  max-height: 400px;
  min-height: 200px;
  background-color: rgb(76, 89, 81);
  text-align: center;
  padding: 15px;
  color: white;
  border-radius: 8px;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;
}
body .form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}
body .form .title {
  font-weight: 700;
}
body .form #name:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 113, 0.25);
  border-color: rgba(13, 253, 113, 0.25);
}
body .form .form-check {
  position: relative;
}
body .form .form-check .form-check-input {
  position: absolute;
}
body .form .btn {
  width: 100%;
  background-color: rgb(23, 107, 30);
  border-color: rgb(23, 107, 30);
}
body .form.visible {
  transform: translate(-50%, -50%) scale(1);
}
@media screen and (orientation: portrait) {
  body .header {
    justify-content: center;
    font-size: xx-large;
    gap: 6px;
  }
  body .header .showMore.hideLandscape {
    display: flex;
  }
  body .main .navBar {
    width: 100%;
    min-height: 10rem;
    flex-direction: row;
    gap: 26px;
    justify-content: space-evenly;
    transform: translateY(-305px);
    transition: transform 0.3s ease;
  }
  body .main .navBar.hide {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */